%div
  .row.text-center.landing-subscribe
    %h4 Subscribe - A Free Weekly email of the Best Tech Jobs in California, period.
  .row.text-center
    %form{:action => "https://jobhero.us11.list-manage2.com/subscribe/post", :class => "form-inline", :method => "POST", :role => "form"}
      %input{:name => "u", :type => "hidden", :value => "1eaaaf78d20c9e93971fd6c15"}
      %input{:name => "id", :type => "hidden", :value => "392852e316"}
      .form-group
        %input{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :class => "form-control",
        :id => "MERGE0", :name => "MERGE0", :placeholder => "Enter your email address", :size => "25", :type => "email",
        :value => ""}
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:autocomplete => "off", :name => "b_1eaaaf78d20c9e93971fd6c15_392852e316", :tabindex => "-1", :type => "text", :value => ""}
      %button{:class => "btn btn-danger", :type => "submit"} Sign up for Free!