%h1.text-center.bold.slogan The Best Tech Jobs in California, Period.
.container
  .row
    .job-btns.text-center
      %ul
        %li
          %a{:href => "/"}All JOBS
        %li
          %a{:href => "/jobs?category=SUPPORT"}SUPPORT
        %li
          %a{:href => "/jobs?category=DESIGN"}DESIGN
        %li
          %a{:href => "/jobs?category=ENGINEERING"}ENGINEERING
        %li
          %a{:href => "/jobs?category=PRODUCT"}PRODUCT
        %li
          %a{:href => "/jobs?category=DATA+SCIENCE"}DATA SCIENCE
      .clearfix
    .row
      .col-md-10.col-md-offset-1
        %table.table
          %tbody
            = render @tasks
        = render 'subscribe_form'
        .text-center
          = will_paginate @tasks

    -#= render 'landing_pagination'