/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// import the CSS framework
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "framework_and_overrides";

@charset "UTF-8";@import url("//hello.myfonts.net/count/2e5a91");
@font-face{
  font-family: 'ProximaNova-Regular';
  src: url("webfonts/2E5A91_2_0.eot");
  src: url("webfonts/2E5A91_2_0.eot?#iefix") format("embedded-opentype"),
  url("webfonts/2E5A91_2_0.woff2") format("woff2"),
  url("webfonts/2E5A91_2_0.woff") format("woff"),
  url("webfonts/2E5A91_2_0.ttf") format("truetype");
}

.table th {
	text-align: center;
}

@media (min-width: $screen-sm-min) {
  .container, main {
    width: 750px;
  }
}

@media (min-width: $screen-md-min) {
  .container, main {
    width: 970px;
  }
}

@media (min-width: $screen-lg-min) {
  .container, main {
    width: 1010px;
  }
}


.container, main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  min-height: 80px;
}

.navbar-nav .btn {
  padding: 6px 12px;
  color: #fff !important;
  margin-top: 8px;
  font-size: 14px !important;
}

.btn-success {
  background-color: #5fcf80;
  border-color: #4bc970;
}

.btn-success:hover, .btn-success:visited, .btn-success:focus {
  background-color: #5fcf80 !important;
  border-color: #4bc970 !important;
}

.slogan {
  font-size: 45px !important;
  font-weight: bold;
  color: #333333;
  padding-top: 43px;
}

.job-btns {
  ul {
    list-style: none;
    display: inline-block;
    li {
      float: left;
      padding-right: 21px;
      a {
        color: #333;
        font-weight: bold;
        font-size: 16px;
        &:hover, &:focus {
          color: #ee6746;
          font-weight: bold;
        }
      }
    }
  }
}


.table-time {
  color: #a6a6a6 !important;
  font-size: 14px;
}

.table-name {
  color: #337ab7 !important;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

.table-company-name {
  color: #333333 !important;
}

.table-address {
  color: #333333 !important;
}

.landing-subscribe {
  h4 {
    font-size: 16px;
  }
}


.no-padd {
  padding: 0 !important;
}

.btn-twitter {
  display: inline-block;
  height: 20px;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #1b95e0;
  border-radius: 3px;
  box-sizing: border-box;
  &:hover {
    text-decoration: none;
  }
  i {
    display: inline;
  }
}

ul.footer-static-links {
  list-style: none;
  margin: 0;
  li {
    color: #ee6746;
    font-size: 87%;
    font-weight: bold;
    display: inline;
    border-right: 1px solid #000000;
    padding: 0 10px;
    a {
      color: #000000;
    }
  }
  li.first {
    padding-left: 0;
  }
  li.last {
    padding-right: 0;
    border: none;
  }
}

ul.footer-social-links {
  @extend .pull-right;
  li {
    display: inline-block;
    vertical-align: middle;
    .comodo {
      display: inline-block;
    }
  }

}